/*Left side bar background*/
[data-testid="stSidebar"] {
    background: linear-gradient(135deg, #ffffff 0%, #ffcc80 100%);
}

/*Left side bar links*/
[data-testid="stSidebar"] a {
    background: white;
    color: black;
    border-radius: 10px;
    padding-left: 7px;
    display: block;
    margin-bottom: 10px;
}
[data-testid="stSidebar"] a:hover {
    background: linear-gradient(135deg, #ffcc80 0%, #ffffff 100%);
    color: #999999;
}

/* Bottom right cost display */
.bottom-right p {
    text-align: right;
    margin: 0;
}

/* Button design */
button.st-emotion-cache-1vt4y43.ef3psqc13:nth-child(1) {
    background-color: #ff6200;
    color: white;
    border: 1px solid #ff6200;
    width: 100%
}

/* gif image design */
div.stImage.st-emotion-cache-1kyxreq.e115fcil2 {
    display: flex;
    justify-content: center;
}

/* lottie animation position */
iframe {
    position: absolute;
    left: 40%;
}